:root {
  /* color: #89cff0; */
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    #b163f2,
    #834cba,
    #5a3683,
    #352050,
    #160822
  );
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #160822;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.navbar .navbar-menu {
  border: 0.2rem solid #5a3683;
  background-color: #5a3683;
  border-radius: 1.5rem;
}

.navbar .navbar-menu a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.navbar .navbar-menu a:hover {
  color: #b163f2;
}

.navbar .navbar-logout a {
  color: white;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.navbar .navbar-logout a:hover {
  color: #b163f2;
}

/* slider section */
.slider {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider-container .slider-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .slider-item::before {
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to top,
    black,
    rgba(0, 0, 0, 0.592),
    transparent
  );
}

.slider-container .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container .slider-item .slider-content {
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slider-item .slider-content .slider-title {
  font-size: 3rem;
}

.slider-item .slider-content .slider-description {
  width: 50ch;
}

.slider-item .slider-content .slider-action {
  color: black;
  background-color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 3px;
  width: fit-content;
  position: relative;
  isolation: isolate;
  font-weight: 800;
}

.slider-content .slider-action::before {
  content: "";
  background-color: #b163f2;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 0;
  transition: all 500ms;
}

.slider-content .slider-action:hover::before {
  width: 100%;
  color: #b163f2;
}

/* variabel section */
.variabel {
  box-sizing: border-box;
  color: black;
  background-color: #fff2;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.1rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.variabel .table-title {
  text-align: center;
  color: white;
  background-color: #160822;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem;
}

.variabel .table {
  padding: 1rem;
  margin: 1rem;
  overflow: auto;
  background-color: #fff9;
  border-radius: 1rem;
}

.variabel .table table {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.variabel .table th,
td,
tr {
  padding: 0.5rem;
}

.variabel .table th {
  /* position: sticky; */
  top: 0;
  left: 0;
  background-color: white;
  text-align: left;
}

.variabel .table td a {
  display: inline-block;
}

.variabel .table .tombol-sukses {
  display: flex;
  background-color: #5a3683;
  align-items: center;
  padding: 0.5rem;
  font-size: 16px;
  margin-right: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  color: white;
}

.variabel .table .tombol-sukses svg.feather {
  padding-right: 0.4rem;
}

.variabel .table tr:nth-child(even) {
  background-color: white;
}

/* pegawai section */
.pegawai {
  box-sizing: border-box;
  color: black;
  background-color: #fff2;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.1rem;
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.pegawai .table-title {
  text-align: center;
  color: white;
  background-color: #160822;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem;
}

.pegawai .table {
  padding: 1rem;
  margin: 1rem;
  overflow: auto;
  background-color: #fff9;
  border-radius: 1rem;
}

.pegawai .table table {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.pegawai .table th,
td,
tr {
  padding: 0.5rem;
}

.pegawai .table th {
  /* position: sticky; */
  top: 0;
  left: 0;
  background-color: white;
  text-align: left;
}

.pegawai .table td a {
  display: inline-block;
}

.pegawai .table .tombol-sukses {
  display: flex;
  background-color: #5a3683;
  align-items: center;
  padding: 0.5rem;
  font-size: 16px;
  margin-right: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  color: white;
}

.pegawai .table .tombol-sukses svg.feather {
  padding-right: 0.4rem;
}

.pegawai .table tr:nth-child(even) {
  background-color: white;
}

/* footer section */
footer {
  text-align: center;
  background-color: white;
  color: #b163f2;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 0;
}

footer .credit span {
  color: black;
}
