body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #958dc3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 10px 16px;
  position: fixed;
  gap: 1px;
  top: 0;
  width: 92.5%;
  padding: 12px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo .circle {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
}

.logo span {
  margin-left: 10px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.user-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 99;
}

.user-menu.active {
  display: block;
}

.user-menu a {
  color: #6a5acd;
  font-weight: 800;
  text-decoration: none;
  font-size: 14px;
}

.user-menu a:hover {
  text-decoration: underline;
}

.user-menu div {
  margin-bottom: 6px;
  font-size: 14px;
}

.user-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#userMenu {
  display: none;
  position: absolute;
  right: 10px;
  top: 60px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#userMenu.active {
  display: block;
}

#hamburgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
}

/* Home Section */
.penjelasan {
  margin: 16px;
  padding: 12px;
  background-color: #ddd;
  border-radius: 8px;
  text-align: center;
  margin-top: 80px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: #eaf6ff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 20px;
  min-height: 150px;
  width: 100%;
}

.carousel-slide h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #b163f2;
}

.carousel-slide p {
  font-size: 14px;
  color: #333;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #bdb2ff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #bdb2ff;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid #ccc;
  z-index: 100;
}

.navbar a {
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.navbar i {
  font-size: 20px;
  display: block;
  margin-bottom: 2px;
}

/* slider */
/* slider section */
.slider {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider-container {
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider-container .slider-item {
  height: calc(100vh - 60px);
  background-image: url("/asset/slide1.jpg");
  top: 0.2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0.2;
  left: 0;
  z-index: 0;
  display: block;
}

.slider-container .slider-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    #000000 20%,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  z-index: 1;
}

.slider-container .slider-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* kalau di dalam container fixed */
}

.slider-container .slider-item .slider-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.slider-item .slider-content .slider-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.slider-item .slider-content .slider-description {
  max-width: 400px;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0 1rem;
}

.slider-item .slider-content .slider-action {
  color: white;
  background-color: #b163f2;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.slider-content .slider-action:hover {
  background-color: #b163f2;
  transform: scale(1.05);
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
  color: #fdfdfd;
  opacity: 0.9;
}

/* Vote Section */

.card {
  margin: 1rem;
}

.card h3 {
  margin-bottom: 2px;
}

.card > p {
  margin-top: 0;
  margin-bottom: 8px;
}

.card > h3,
.card > p {
  text-align: center;
}

.pertanyaan-container {
  text-align: left;
  margin-top: 1.5rem;
}

.pertanyaan-item {
  margin-bottom: 1.5rem;
}

.rating {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.star {
  font-size: 20px;
  color: #ccc;
}

.star.selected {
  color: gold;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
  background-color: #f3e8ff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-inline: auto;
  margin-top: 80px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-container label,
.filter-item label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #000;
}

.filter-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

.filter-item select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000;
  appearance: none; /* hilangkan style default browser */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='10'%20height='5'%3E%3Cpolygon%20points='0,0%205,5%2010,0'%20fill='%230d47a1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 5px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vote-navigation {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  bottom: 0;
  padding-bottom: 1.5rem;
}

.vote-navigation button {
  margin: 0 5px;
}

.vote-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.vote-button {
  background-color: #bdb2ff; /* biru pastel */
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px; /* pill shape */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 10px rgba(100, 181, 246, 0.4);
  transition: all 0.3s ease;
}

.vote-button:hover {
  background-color: #b163f2;
  box-shadow: 0 6px 12px rgba(66, 165, 245, 0.5);
}

#nextKandidat,
#prevKandidat,
#submitVote {
  background-color: #bdb2ff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.1s ease;
}

#nextKandidat,
#prevKandidat,
#submitVote:hover {
  background-color: #b163f2;
}

.mulai-voting {
  font-family: "Poppins", sans-serif;
}

.btn-rekap {
  background-color: #bdb2ff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-rekap:hover {
  background-color: #b163f2;
}

#vote-carousel {
  position: relative;
}

.kandidat-container {
  padding-bottom: 80px; /* agar tidak ketutup navbar bawah */
}

/* vote hanya tampilkan nama dan start date & end date*/
.vote-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.event-info {
  border: 1px solid #ccc;
  border-radius: 18px;
  margin-top: 3rem;
  padding: 16px;
  margin-bottom: 20px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  text-align: center;
}

.container form {
  margin-top: 30px;
}

.container form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form :where(.input-box input) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 15px;
}

.input-box input :focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .tombol {
  display: flex;
  margin-top: 20px;
}

.form button {
  height: 55px;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.25 ease;
  background-color: #5a3683;
  margin: 10px;
}

.form button:hover {
  background-color: black;
}

/* Rekap Section */
#rekap-section {
  margin-top: 80px;
}
